/* 
    Document   : st
    Created on : May 25, 2011, 8:51:00 PM
    Author     : endashaw
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#holder{
        width:980px;
        margin-left:10px;
        margin-right:10px;
        margin-bottom:10px;
        margin-top:10px;
        position:relative;
        
        /*min-height:500px;*/

 }

#head
{

    width:100%;
    /*margin:auto;
    float:left;
    clear:both;*/
    font-family:Nina, Raavi;
    height:75px;
    background-position:right;
}

#left {
    width:180px;
    float:left;


}

#spdiv
{
    width:540px;
    margin:5px;
    float:left;

}


#center
{
       width:560px;
       margin:5px;
       float:left;

}

#right {

    width:180px;
    background-color:red;
    margin:5px;
    float:right;
}

#endash{
    float:right;

    width:180px;
    margin:5px;
}

#endash .relatedlinks{
    color:yellow;
}

#footer
{
    width:100%;
    /*margin:auto;
    float:left;
    clear:both;*/
    font-family:Nina, Raavi;
    height:75px;
    background-position:right;

    }
#tableheader {
            background-color: #D5E1F1;
            padding: 1px;
            border-top-width: 1px;
            border-right-width: 1px;
            border-bottom-width: 1px;
            border-left-width: 1px;
            color: #2D5893;
            text-decoration: none;
            text-align:center;
            border-top-style:outset;
           /* border-right-style: solid;
            border-bottom-style: solid;
            border-left-style: solid;*/
            border-top-color: #DFF7FF;
            border-right-color: #B0C6E2;
            border-bottom-color: #B0C6E2;
            border-left-color: #DFF7FF;
            font-weight:bolder;




}
#ff{

    background-color:rgb(236, 243, 248);
    padding:2px;
    font-weight:bold;
    color:#625114;
    text-decoration:none;
    text-align:left;
}
.grayButtonBG1{
font-size:11px;
padding:2px;
text-decoration:none;
height:17px;
line-height:17px;
display:table;
float:left;
border-bottom:10px;
border-right:10px;
border-left:10px;
border-top:11px;
border-style:solid;

}
#subtd{
    width:220px;
    height:30px;
     border-color:red;

}
#subtd2{
    width:165px;
    height:30px;
     border-color:red;

}
#tabless{
    width:720px;
    border-color:red;
}
#fieldss
{
    width:750px;

}
#prowrapper
{
        width: 850px;
        margin: auto;
        position:relative;
        margin-top:-3px;

}
#prodiv
{
         width:480px;
         float:left;
         margin:5px;
}
#promandiv
{
    width:300px;
    margin:5px;
    float:right
}
#orgdiv
{
    width:850px;
     margin: auto;
     position:relative;

}
